@import 'scss/lib';

.chat-message {
  $root: &;

  display: flex;
  align-items: flex-start;
  position: relative;

  &__container {
    padding: spacing(2);
  }

  &__content {
    position: relative;
    background: var(--chat-color);
    padding: 10px 16px;
    border-radius: 10px;

    &::before {
      position: absolute;
      top: 16px;
    }
  }

  &__created-at {
    position: absolute;
    top: 42px;
    opacity: 0;
    transition: 0.25s opacity;
  }

  &:hover &__created-at {
    opacity: 1;
  }

  &--left {
    #{$root}__content::before {
      @include triangle(left, var(--chat-color), 5px);
      right: 100%;
    }

    #{$root}__created-at {
      left: 4px;
    }
  }

  &--right {
    flex-direction: row-reverse;
    margin-left: auto;

    #{$root}__content::before {
      @include triangle(right, var(--chat-color), 5px);
      left: 100%;
    }

    #{$root}__avatar {
      margin-left: auto;
    }

    #{$root}__created-at {
      right: 4px;
    }
  }
}
